* {
  margin: 0;
  box-sizing: border-box;
}

.active {
  color: #61bafd;
}

body {
  background-color: #1d1d1d;
}

.container {
  overflow: hidden;
  margin-left: 60px;
  height: 100vh;
}

/**********************
**********************/
/* Nav Styling */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: #181818;
}

nav ul {
  padding: 0;
  position: relative;
  top: 36%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  color: #505051;
  display: block;
}

nav ul li a b {
  display: block;
  min-height: 30px;
  position: relative;
  opacity: 0;
}

nav ul li a i {
  display: block;
  position: relative;
  top: 15px;
}

nav ul li a:hover {
  color: #61bafd;
  transition: color .5s;
}

nav ul li:hover a i {
  opacity: 0;
  color: #61bafd;
  transition: opacity 400ms, color 400ms;
}

nav ul li:hover a b {
  transform: scale(1.2);
  opacity: 1;
  transition: opacity 700ms, transform 700ms;
}

/**********************
**********************/
/* Home Page Styling */
.homeIntro {
  color: #757577;
  position: relative;
  top: 32%;
  left: 8%;
  font-family: 'Archivo Narrow';
}

.homeIntro h1 {
  color: white;
  line-height: 65px;
  font-size: 75px;
  font-style: bold;
  letter-spacing: -3px;
}

.homeIntro h1 span {
  display: inline-block;
  cursor: default;
}

.homeIntro h1 span:hover {
  color: #61bafd;
}

.boing {
  animation: boing 1s;
}

.comma {
  position: relative;
  bottom: 40px;
}

.homeIntro p {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.htmltag p {
  color: #505051;
  font-family: 'La Belle Aurore';
  font-size: 18px;
  letter-spacing: normal;
  position: relative;
  right: 12px;
}

.myBtn {
  position: relative;
  top: 40px;
  width: 162px;
  height: 40px;
  border: 1px solid #61bafd;
  border-radius: 1px;
  text-align: center;
}

.myBtn a{
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #61bafd;
  position: relative;
  letter-spacing: 2px;
  top: 7.5px;
}

.myBtn:hover {
  background-color: #61bafd;
  cursor: pointer;
}

.myBtn:hover a {
  color: #1d1d1d;
}

@keyframes boing {
  0% {
    transform: scale(1, 1);
  } 25% {
    transform: scale(1.15, 0.85);
    transition: transform .5s;
  } 50% {
    transform: scale(0.85, 1.15);
    transition: transform .5s;
  } 75% {
    transform: scale(1.1, 0.9);
    transition: transform .5s;
  } 100% {
    transform: scale(1, 1);
    transition: transform .5s;
  }
}